{% extends 'ConnectToHealMain/base.html' %}
{% load static %}
{% block content %}

<br>
<h2>Contact Us</h2>
<br>

<style type="text/css">
  .card {
    background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
</style>

<div class="row">
  <div class="col">
  <div class="card">
  
  <h1>Taruni</h1>
  <p class="title">1602-19-737-120</p>
  <p>Vasavi College of Engineering</p>
 
  <a href="#"><i class="fa fa-linkedin"></i></a>
  
  <p><button class="btn btn-outline-primary">Contact</button></p>
</div>
</div>
<div class="col">
<div class="card">

<h1>Harshith</h1>
<p class="title">1602-19-737-073</p>
<p>Vasavi College of Engineering</p>

<a href="#"><i class="fa fa-linkedin"></i></a>

<p><button class="btn btn-outline-primary">Contact</button></p>
</div>
</div>
<div class="col">
<div class="card">

<h1>Karthik</h1>
<p class="title">1602-19-737-310</p>
<p>Vasavi College of Engineering</p>

<a href="#"><i class="fa fa-linkedin"></i></a>

<p><button class="btn btn-outline-primary">Contact</button></p>
</div>
</div>
</div>

{% endblock %}
