{% extends 'ConnectToHealMain/base.html' %}
{% load static %}
{% block content %}
<style>
    .body {
        background-color:#AFE5C5;

    }
</style>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <center style = " background-color:#AFE5C5;">{{ form.label }} <br> {{form.as_p}}  </center>
    </fieldset>
    <center><div class="form-group">
        <button class="btn btn-outline-info" id = "submitbutton">Submit</button>
    </div></center>
</form>
{% for forum in forums reversed %}
<hr>
<p style="padding-left:10px;background-color:#AFE5C5;"> {{forum.info}} </p>
{% endfor %}
{% endblock %}