{% extends 'ConnectToHealMain/base.html' %}
{% load static %}
{% block content %}
{% for therapist in therapists %}
<br>

<form method="POST">
    {% csrf_token %} 
<input type="text" name="therapistName" value="{{ therapist.username }}" style="visibility:hidden"/>
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ therapist.username }}</a>
        </div>
        <h2><a class="article-title" href="#">{{ therapist.email }}</a></h2>
        <div>
            <button style="float: right; margin-right: 10px;" class="btn btn-primary" name="bookAppointment">
            Book Appointment</button>
        </div>
        <p class="article-content">{{ therapist.aboutMe }}<br><br>{{ therapist.pricePerSession}}<br>{{ therapist.workExperience}}
        </p>
        </div>
    </article>
</form>
{% endfor %}
{% endblock %}